/* body p {
    background: blue;
}  */

body > article > p{
    background: yellowgreen;
   
}

/* body p {
    border-radius: 113px 0px 152px 0px;
    -moz-border-radius: 113px 0px 152px 0px;
    -webkit-border-radius: 113px 0px 152px 0px;
    border: 10px solid #000000;
} */

body> div > section > ul >li:nth-child(3){

    background: darkgoldenrod;
}

.otroFondo{
    background: goldenrod;
    border-radius: 113px 0px 152px 0px;
    -moz-border-radius: 113px 0px 152px 0px;
    -webkit-border-radius: 113px 0px 152px 0px;
    border: 5px solid #000000;
}